@import "@/styles/_variables";

.listing {
	background: $blue url('/images/bg.jpg') repeat center;
	background-size: (3258px / 2) (1410px / 2);
	border-radius: 5px;
	box-shadow: 0 .25em 1em rgba($b,.3);
	@include pad(0,.5);
	@include mgn(1,auto);
	max-width: $pwidth*1em;

	@include above($mobile) {
		@include pad(1,1);
  }

	ol {
		list-style: none;
		padding: 0;
		margin: 0;
  }

	li {
		border-bottom: 2px dotted $darkblue;
  }
}

.no-dates {
	@include pad(0, .5);
	text-align: left;
}

.credit {
	@include pad(1,.5);

	svg {
		display: block;
		fill: $w;
		height: 2em;
		width: (427/150)*2em;
  }
}