@import "./variables";

.main {
	height: 100%;
}

.contact {
	padding: 0;

	h2, p {
		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				transform: rotateZ((random() - 0.5) * 6deg);
			}
		}
	}

	h2 {
		background: $yellow;
		color: $darkblue;
		display: inline-block;
		@include fs(mp(0));
		// font-smoothing()
		@include mgn(1,.25,0);
		@include pad(.25,.5);
		vertical-align: bottom;
		transition: transform 600ms $easeOutCubic;
	
		.v-enter-active &, 
		.up-enter-active &, 
		.down-enter-active & {
			transition-delay: 600ms
		}
			
		.v-enter &, 
		.up-enter &, 
		.down-enter & {
			transform: rotateZ(0deg)
		}
	}
	
	h3 {
		color: $w;
		@include fs(mp(2));
		@include mgn(.5,auto);
		text-transform: none;
	}
	
	p {
		@include mgn(.5,auto);
		// font-smoothing()
		letter-spacing: .065em;
	
		span {
			display: inline-block;
			margin-right: .5em;
			vertical-align: top;
		}
	
		a {
			border-bottom: 1px solid $yellow;
			color: $w;
			display: inline-block;
			vertical-align: top;
		}
	}
}

.content {
	position: relative;
	text-align: center;
	z-index: 2;

	@include above($mobile) {
		left: 50%;
		max-width: 40em;
		position: absolute;
		top: 50%;
		transform: translate3d(-50%,-50%,0);
		width: 100%;
	}

	@include below($mobile) {
		height: 100%;
	}
}

.bg {
	background: radial-gradient(rgba($b,.25), rgba($b,0));
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.details {
	@include above($tablet) {
		display: flex;
		flex-wrap: wrap;
	}
	
	@include below($mobile) {
		@include pad(4,0);
	}	
}

.one-col {
	width: 100%;
}

.two-col {
	width: 50%;
}
