@import "./_variables";

:root {
  --b: #{$b};
  --w: #{$w};

  --blue: #{$blue};
  --lightblue: #{$lightblue};
  --darkblue: #{$darkblue};

  --yellow: #{$yellow};

  --blk: #{$blk};
  --white: #{$white};

  --bebas: #{$bebas};
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  background: var(--darkblue);
  color: var(--yellow);
  // font-family: var(--bebas);
}

html {
	font-size: ($p/16)*75%;

	@include above($tablet) {
		font-size: ($p/16)*100%
  }
}

body {
  font-size: 100%;
	letter-spacing: .04em
}

a, nav, div {
  box-sizing: border-box;
}

@import "./_app"
