@import '@/styles/_variables';

.home {
	background-color: $darkblue;
	background-image: url('/images/bg-dark.jpg');
	
	h1 {
		opacity: 0;
		position: absolute;
	}
}

.main {
	height: 100%;
}

.bg {
	background: radial-gradient(rgba($b,.4), rgba($b,0));
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.preorder, 
.second {
	transform: rotateZ((random() - 0.5) * 6deg);
	transition: transform 600ms $easeOutCubic;

	.v-enter-active &, .up-enter-active &, .down-enter-active &{
		transition-delay: 600ms;
	}

	.v-enter &, .up-enter &, .down-enter & {
		transform: rotateZ(0deg)
	}	
}

.second {
	background: $darkblue;
}
