@import "@/styles/_variables";

li.navItem {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.item {
	background: var(--yellow);
	color: var(--darkblue);
	display: block;
	@include fs(mp(0) + 3);
	letter-spacing: .05em;
	@include mgn(.375,.25);
	@include pad(.25,.5);
	transition: transform 500ms $easeOutCubic;

	/* for n in (2..5)
		&:nth-child({n})
			transition-delay n*100ms */

	&.spoof-active,
	&.router-link-exact-active {
		background: $white;
  }
}

.logo {
	display: block;
  @include mgn(0,.25,.25,0);
  @include pad(.125,.25);

  @include below($tablet) {
    margin: 0;
	}

  img {
    display: block;
    height: $let*2rem;
    width: auto;
  }
}
